<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StudentMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into STUDENT(
			NAME,	
			AGE,	
			LEVEL,	
			CLASS_NAME,	
			ADDRESS,	
			ENTER_TIME,	
			CREATE_TIME,	
			UPDATE_TIME,	
			COURSE_ID,	
			STUDENT_ID
		) values (
			#{NAME},	
			#{AGE},	
			#{LEVEL},	
			#{CLASS_NAME},	
			#{ADDRESS},	
			#{ENTER_TIME},	
			#{CREATE_TIME},	
			#{UPDATE_TIME},	
			#{COURSE_ID},	
			#{STUDENT_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from STUDENT
		where 
			STUDENT_ID = #{STUDENT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  STUDENT
			set 
				NAME = #{NAME},
				AGE = #{AGE},
				LEVEL = #{LEVEL},
				CLASS_NAME = #{CLASS_NAME},
				ADDRESS = #{ADDRESS},
				ENTER_TIME = #{ENTER_TIME},
				CREATE_TIME = #{CREATE_TIME},
				UPDATE_TIME = #{UPDATE_TIME},
				COURSE_ID = #{COURSE_ID},
			STUDENT_ID = STUDENT_ID
			where 
				STUDENT_ID = #{STUDENT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			NAME,	
			AGE,	
			LEVEL,	
			CLASS_NAME,	
			ADDRESS,	
			ENTER_TIME,	
			CREATE_TIME,	
			UPDATE_TIME,	
			COURSE_ID,	
			STUDENT_ID
		from 
			STUDENT
		where 
			STUDENT_ID = #{STUDENT_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.NAME,	
				a.AGE,	
				a.LEVEL,	
				a.CLASS_NAME,	
				a.ADDRESS,	
				a.ENTER_TIME,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.COURSE_ID,	
				a.STUDENT_ID
		from 
				STUDENT a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.NAME,	
				a.AGE,	
				a.LEVEL,	
				a.CLASS_NAME,	
				a.ADDRESS,	
				a.ENTER_TIME,	
				a.CREATE_TIME,	
				a.UPDATE_TIME,	
				a.COURSE_ID,	
				a.STUDENT_ID
		from 
				STUDENT a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from STUDENT
		where 
			STUDENT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>