<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="false" /> 
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.haopai.entity.system.User" alias="User"/>
		<typeAlias type="com.haopai.entity.system.Role" alias="Role"/>
		<typeAlias type="com.haopai.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.haopai.util.PageData" alias="pd"/>
		<typeAlias type="com.haopai.entity.yunear.ProductClass" alias="ProductClass"/>
		<typeAlias type="com.haopai.entity.tree.ProductClassTree" alias="ProductClassTree"/>
		<!-- 分页 -->
		<typeAlias type="com.haopai.entity.Page" alias="Page"/>
		
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.haopai.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
	<mappers>
		<!-- 系统模块    开始 -->
		<!-- 系统用户 -->
		<mapper resource="mybatis/system/UserMapper.xml"/>
		<!-- 系统角色 -->
		<mapper resource="mybatis/system/RoleMapper.xml"/>
		<!-- 系统菜单 -->
		<mapper resource="mybatis/system/MenuMapper.xml"/>
		<!-- 新用户处理 -->
		<mapper resource="mybatis/system/UserXMapper.xml"/>
		<!-- app用户 -->
		<mapper resource="mybatis/system/AppuserMapper.xml"/>
		<!-- 数据字典 -->
		<mapper resource="mybatis/system/ZidianMapper.xml"/>
		<mapper resource="mybatis/system/PersonMapper.xml"/>
		<mapper resource="mybatis/callsystem/StudentMapper.xml"/>
		<!-- 系统模块    结束 -->
		
		<!-- yunear 	开始-->
		<!-- 版权方多媒体 -->
		<!-- <mapper resource="mybatis/yunear/CopyrightMultiMapper.xml"/> -->
		<!-- 发布方多媒体 -->
		<!-- <mapper resource="mybatis/yunear/AnnounceMultiMapper.xml"/> -->
		<!-- 信息 -->
		<!-- <mapper resource="mybatis/yunear/MessageUserMapper.xml"/> -->
		<!-- 提现 -->
		<!-- <mapper resource="mybatis/yunear/DrawMapper.xml"/> -->
		
		<!-- 消息记录表 -->
		<!-- <mapper resource="mybatis/yunear/MessageMapper.xml"/>
		<mapper resource="mybatis/yunear/ProcessMapper.xml"/>
		<mapper resource="mybatis/yunear/ProductMapper.xml"/>
		<mapper resource="mybatis/yunear/ProductClassMapper.xml"/> -->
		<!-- yunear 	结束-->
		
		
		
	</mappers>
	
</configuration>