<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AnnounceMultiMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into YUNEAR_ANNOUNCEMULTI(
			USER_ID,	
			MEDIA_ID,	
			CODE_ID,	
			SCAN_CODE_LINK,	
			SCAN_CODE_NUM,	
			IMG_LINK,	
			DATE_CREATE,	
			DATE_MODIFY,	
			IS_DELETE,	
			ANNOUNCEMULTI_ID
		) values (
			#{USER_ID},	
			#{MEDIA_ID},	
			#{CODE_ID},	
			#{SCAN_CODE_LINK},	
			#{SCAN_CODE_NUM},	
			#{IMG_LINK},	
			#{DATE_CREATE},	
			#{DATE_MODIFY},	
			#{IS_DELETE},	
			#{ANNOUNCEMULTI_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from YUNEAR_ANNOUNCEMULTI
		where 
			ANNOUNCEMULTI_ID = #{ANNOUNCEMULTI_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  YUNEAR_ANNOUNCEMULTI
			set 
				USER_ID = #{USER_ID},
				MEDIA_ID = #{MEDIA_ID},
				CODE_ID = #{CODE_ID},
				SCAN_CODE_LINK = #{SCAN_CODE_LINK},
				SCAN_CODE_NUM = #{SCAN_CODE_NUM},
				IMG_LINK = #{IMG_LINK},
				DATE_CREATE = #{DATE_CREATE},
				DATE_MODIFY = #{DATE_MODIFY},
				IS_DELETE = #{IS_DELETE},
			ANNOUNCEMULTI_ID = ANNOUNCEMULTI_ID
			where 
				ANNOUNCEMULTI_ID = #{ANNOUNCEMULTI_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			USER_ID,	
			MEDIA_ID,	
			CODE_ID,	
			SCAN_CODE_LINK,	
			SCAN_CODE_NUM,	
			IMG_LINK,	
			DATE_CREATE,	
			DATE_MODIFY,	
			IS_DELETE,	
			ANNOUNCEMULTI_ID
		from 
			YUNEAR_ANNOUNCEMULTI
		where 
			ANNOUNCEMULTI_ID = #{ANNOUNCEMULTI_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USER_ID,	
				a.MEDIA_ID,	
				a.CODE_ID,	
				a.SCAN_CODE_LINK,	
				a.SCAN_CODE_NUM,	
				a.IMG_LINK,	
				a.DATE_CREATE,	
				a.DATE_MODIFY,	
				a.IS_DELETE,	
				a.ANNOUNCEMULTI_ID
		from 
				YUNEAR_ANNOUNCEMULTI a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USER_ID,	
				a.MEDIA_ID,	
				a.CODE_ID,	
				a.SCAN_CODE_LINK,	
				a.SCAN_CODE_NUM,	
				a.IMG_LINK,	
				a.DATE_CREATE,	
				a.DATE_MODIFY,	
				a.IS_DELETE,	
				a.ANNOUNCEMULTI_ID
		from 
				YUNEAR_ANNOUNCEMULTI a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from YUNEAR_ANNOUNCEMULTI
		where 
			ANNOUNCEMULTI_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 版权方多媒体查询列表 -->
	<select id="multilistPage" parameterType="page" resultType="pd">
		select
				a.USER_ID,	
				a.MEDIA_NAME,	
				a.KEYWORDS,	
				a.PAY_TYPE,	
				a.DESCR,	
				a.PATH,	
				a.TYPE,	
				a.AUDIT_STATUS,	
				a.PRICE,	
				a.SPREAD_NUM,	
				a.CLICK_NUM,	
				a.SCAN_CODE_NUM,	
				a.DATE_CREATE,	
				a.DATE_MODIFY,	
				a.IS_DELETE,	
				a.COPYRIGHTMULTI_ID
		from 
				YUNEAR_COPYRIGHTMULTI a
		where a.IS_DELETE = '0'
			and a.AUDIT_STATUS = '00'
		<if test="pd.DATE_CREATE_START!=null and pd.DATE_CREATE_START!=''">
		<![CDATA[
			and DATE_FORMAT(a.DATE_CREATE, '%Y-%m-%d') >=  #{pd.DATE_CREATE_START}
		]]>
		</if>
		<if test="pd.DATE_CREATE_END!=null and pd.DATE_CREATE_END!=''">
		<![CDATA[
			and DATE_FORMAT(a.DATE_CREATE, '%Y-%m-%d') <=  #{pd.DATE_CREATE_END}
		]]>
		</if>
		<if test="pd.KEYWORDS!=null and pd.KEYWORDS!=''">
		<![CDATA[
			and FIND_IN_SET(trim(#{pd.KEYWORDS}),a.KEYWORDS) > 0
		]]>
		</if>
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findByUserIdAndMediaId" parameterType="pd" resultType="pd">
		select 
			USER_ID,	
			MEDIA_ID,	
			CODE_ID,	
			SCAN_CODE_LINK,	
			SCAN_CODE_NUM,	
			IMG_LINK,	
			DATE_CREATE,	
			DATE_MODIFY,	
			IS_DELETE,	
			ANNOUNCEMULTI_ID
		from 
			YUNEAR_ANNOUNCEMULTI
		where MEDIA_ID = #{COPYRIGHTMULTI_ID}
			AND USER_ID = #{USER_ID}
	</select>
	
</mapper>