<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CopyrightMultiMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into YUNEAR_COPYRIGHTMULTI(
			USER_ID,	
			MEDIA_NAME,	
			KEYWORDS,	
			PAY_TYPE,	
			DESCR,	
			PATH,	
			TYPE,	
			AUDIT_STATUS,	
			PRICE,	
			SPREAD_NUM,	
			CLICK_NUM,	
			SCAN_CODE_NUM,	
			DATE_CREATE,	
			DATE_MODIFY,	
			IS_DELETE,	
			COPYRIGHTMULTI_ID
		) values (
			#{USER_ID},	
			#{MEDIA_NAME},	
			#{KEYWORDS},	
			#{PAY_TYPE},	
			#{DESCR},	
			#{PATH},	
			#{TYPE},	
			#{AUDIT_STATUS},	
			#{PRICE},	
			#{SPREAD_NUM},	
			#{CLICK_NUM},	
			#{SCAN_CODE_NUM},	
			#{DATE_CREATE},	
			#{DATE_MODIFY},	
			#{IS_DELETE},	
			#{COPYRIGHTMULTI_ID}
		)
	</insert>
	
	<!-- 多媒体指定字段添加 -->
	
	<insert id="savemulti" parameterType="pd">
		insert into YUNEAR_COPYRIGHTMULTI(
			USER_ID,	
			MEDIA_NAME,	
			KEYWORDS,
			PAY_TYPE,	
			DESCR,	
			PATH,	
			TYPE,		
			PRICE,	
			DATE_CREATE,	
			COPYRIGHTMULTI_ID
		) values (
			#{USER_ID},	
			#{MEDIA_NAME},	
			#{KEYWORDS},
			#{PAY_TYPE},	
			#{DESCR},	
			#{PATH},	
			#{TYPE},	
			#{PRICE},	
			#{DATE_CREATE},	
			#{COPYRIGHTMULTI_ID}
		)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from YUNEAR_COPYRIGHTMULTI
		where 
			COPYRIGHTMULTI_ID = #{COPYRIGHTMULTI_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  YUNEAR_COPYRIGHTMULTI
			set 
				USER_ID = #{USER_ID},
				MEDIA_NAME = #{MEDIA_NAME},
				KEYWORDS = #{KEYWORDS},
				PAY_TYPE = #{PAY_TYPE},
				DESCR = #{DESCR},
				PATH = #{PATH},
				TYPE = #{TYPE},
				PRICE = #{PRICE},
			COPYRIGHTMULTI_ID = COPYRIGHTMULTI_ID
			where 
				COPYRIGHTMULTI_ID = #{COPYRIGHTMULTI_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			USER_ID,	
			MEDIA_NAME,	
			KEYWORDS,	
			PAY_TYPE,	
			DESCR,	
			PATH,	
			TYPE,	
			AUDIT_STATUS,	
			PRICE,	
			SPREAD_NUM,	
			CLICK_NUM,	
			SCAN_CODE_NUM,	
			DATE_CREATE,	
			DATE_MODIFY,	
			IS_DELETE,	
			COPYRIGHTMULTI_ID
		from 
			YUNEAR_COPYRIGHTMULTI
		where 
			COPYRIGHTMULTI_ID = #{COPYRIGHTMULTI_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USER_ID,	
				a.MEDIA_NAME,	
				a.KEYWORDS,	
				a.PAY_TYPE,	
				a.DESCR,	
				a.PATH,	
				a.TYPE,	
				a.AUDIT_STATUS,	
				a.PRICE,	
				a.SPREAD_NUM,	
				a.CLICK_NUM,	
				a.SCAN_CODE_NUM,	
				a.DATE_CREATE,	
				a.DATE_MODIFY,	
				a.IS_DELETE,	
				a.COPYRIGHTMULTI_ID
		from 
				YUNEAR_COPYRIGHTMULTI a where a.USER_ID=#{a.USER_ID}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USER_ID,	
				a.MEDIA_NAME,	
				a.KEYWORDS,	
				a.PAY_TYPE,	
				a.DESCR,	
				a.PATH,	
				a.TYPE,	
				a.AUDIT_STATUS,	
				a.PRICE,	
				a.SPREAD_NUM,	
				a.CLICK_NUM,	
				a.SCAN_CODE_NUM,	
				a.DATE_CREATE,	
				a.DATE_MODIFY,	
				a.IS_DELETE,	
				a.COPYRIGHTMULTI_ID
		from 
				YUNEAR_COPYRIGHTMULTI a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from YUNEAR_COPYRIGHTMULTI
		where 
			COPYRIGHTMULTI_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>