<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbCodeMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_TBCODE(
			CODE_NAME,	
			USER_ID,	
			MEDIA_ID,	
			SCAN_CODE_LINK,	
			SCAN_CODE_NUM,	
			IMG_LINK,	
			STATUS,	
			CREATE_TIME,	
			UPD_TIME,	
			TBCODE_ID
		) values (
			#{CODE_NAME},	
			#{USER_ID},	
			#{MEDIA_ID},	
			#{SCAN_CODE_LINK},	
			#{SCAN_CODE_NUM},	
			#{IMG_LINK},	
			#{STATUS},	
			#{CREATE_TIME},	
			#{UPD_TIME},	
			#{TBCODE_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_TBCODE
		where 
			TBCODE_ID = #{TBCODE_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_TBCODE
			set 
				CODE_NAME = #{CODE_NAME},
				USER_ID = #{USER_ID},
				MEDIA_ID = #{MEDIA_ID},
				SCAN_CODE_LINK = #{SCAN_CODE_LINK},
				SCAN_CODE_NUM = #{SCAN_CODE_NUM},
				IMG_LINK = #{IMG_LINK},
				STATUS = #{STATUS},
				CREATE_TIME = #{CREATE_TIME},
				UPD_TIME = #{UPD_TIME},
			TBCODE_ID = TBCODE_ID
			where 
				TBCODE_ID = #{TBCODE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CODE_NAME,	
			USER_ID,	
			MEDIA_ID,	
			SCAN_CODE_LINK,	
			SCAN_CODE_NUM,	
			IMG_LINK,	
			STATUS,	
			CREATE_TIME,	
			UPD_TIME,	
			TBCODE_ID
		from 
			TB_TBCODE
		where 
			TBCODE_ID = #{TBCODE_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CODE_NAME,	
				a.USER_ID,	
				a.MEDIA_ID,	
				a.SCAN_CODE_LINK,	
				a.SCAN_CODE_NUM,	
				a.IMG_LINK,	
				a.STATUS,	
				a.CREATE_TIME,	
				a.UPD_TIME,	
				a.TBCODE_ID
		from 
				TB_TBCODE a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CODE_NAME,	
				a.USER_ID,	
				a.MEDIA_ID,	
				a.SCAN_CODE_LINK,	
				a.SCAN_CODE_NUM,	
				a.IMG_LINK,	
				a.STATUS,	
				a.CREATE_TIME,	
				a.UPD_TIME,	
				a.TBCODE_ID
		from 
				TB_TBCODE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_TBCODE
		where 
			TBCODE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>